################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/packages/System.Numerics.Vectors.4.3.0/lib/xamarinios10/_._
/packages/System.Numerics.Vectors.4.3.0/lib/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.3.0/lib/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.3.0/lib/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.3.0/ref/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.3.0/ref/MonoTouch10/_._

# Visual Studio 관련
.vs/
bin/
obj/
*.user
*.suo
*.cache

Animate/bin/
BoundingVolume/bin/
BSP/bin/
Camera3d/bin/
Cloud/bin/
Common/bin/
ConsoleApp/bin/
ExtractIncludeGLSL/bin/
Fog/bin/
FormTools/bin/
GameEngine/bin/
GlWin/bin/
GlWindow/bin/
Light/bin/
Model3d/bin/
Occlusion/bin/
Physics/bin/
Renderer/bin/
Rot3dMath/bin/
Shader/bin/
Sky/bin/
Terrain/bin/
UIDesign2d/bin/
Res/


# 빌드 결과물
Debug/
Release/
x64/
x86/

# 임시 파일
*.tmp
*.log
*.bak

# NuGet 패키지
packages/
*.nupkg
